:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #149bcc;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

body {
  background: #222;
  overflow: hidden;
  color: #224480;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#loading {
  width: 0vw;
  height: 2px;
  background: #91e695;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms;
}

.abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.abs-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.abs-bottom-right {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 20px;
  left: auto;
}

.rounded {
  border-radius: 5px;
}

.big-input {
  width: 75%;
  height: 50px;
  border: 0;
  padding: 10px;
  font: 1.5em 'Montserrat', sans-serif;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  display: none;
  opacity: 0;
}

.file {
  background: #444;
  color: white;
  display: grid;
  grid-template-columns: 50% 10% 40%;
  border-bottom: 1px solid #222;
  padding-left: 10px;
  cursor: default;
}

.file.alt {
  background: #555;
}

.file span {
  display: flex;
  align-items: center;
}

.dir {
  background: #447270;
  color: white;
  display: flex;
  border-bottom: 1px solid #222;
  height: 55px;
  cursor: pointer;
  padding-left: 10px;
}

.dir span {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.right {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
