:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #222;
  overflow: hidden;
  color: #149bcc;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

a {
  color: #149bcc;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

iframe {
  display: none;
  width: 100%;
  height: 100vh;
  color: #ddd;
}

#iframe-container {
  background: #272727;
  color: #ddd;
}

#container {
  display: grid;
  grid-template-columns: 100% 0;
}

#container.inline-content {
  display: grid;
  grid-template-columns: 40% 60%;
}

#container.inline-content iframe {
  display: block;
}

#content {
  height: 100vh;
  overflow: scroll;
}

#content div:hover {
  background: #149bcc;
}

.file a {
  background: #222;
  color: #ddd;
  padding: 5px 10px;
  border-radius: 15px;
}

.file a:hover {
  opacity: 1;
  background: #149bcc;
  color: black;
  transition: all 0.3s;
}

#loading {
  width: 0vw;
  height: 2px;
  background: #91e695;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 500ms;
}

#loading.init::before {
  content: 'LOADING';
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.8em;
  color: #91e695;
  text-align: center;
  padding: 5px;
}

#title {
  font-size: 15vh;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 200px);
  align-items: center;
  color: #149bcc;
  z-index: -1;
}

.abs-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.rounded {
  border-radius: 5px;
}

.big-input {
  width: 75%;
  height: 50px;
  border: 0;
  padding: 10px;
  font: 1.5em 'Montserrat', sans-serif;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  display: none;
  opacity: 0;
}

.file {
  background: #444;
  color: white;
  display: grid;
  grid-template-columns: 50% 10% 40%;
  border-bottom: 1px solid #222;
  padding-left: 10px;
  cursor: pointer;
  height: 55px;
}

.file.alt {
  background: #555;
}

.file span {
  display: flex;
  align-items: center;
}

.dir {
  background: #447270;
  color: white;
  display: flex;
  border-bottom: 1px solid #222;
  height: 55px;
  cursor: pointer;
  padding-left: 10px;
}

.dir span {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.right {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.truncate {
  display: inline-block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto 0;
}

@media (orientation: portrait) {
  #title {
    font-size: 15vw;
  }
}

/* Wide screens. TODO 1650. */
/* @media (min-width: 1024px) {
  #container {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  iframe {
    display: block;
  }
} */
